<!DOCTYPE html>
<html lang="fi">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Putkis">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Djangoproject</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#something">Something</a></li>
				{% if user.is_authenticated %}
					<li class="nav-right"><a href="#Login">Logout</a></li>
				{% else %}
					<li class="nav-right"><a href="#logout">Login</a></li>
				{% endif %}
			</ul>
		</nav>
		<h1>Hötömötö sivuke</h1>
		<p> Hötömötö</p>

		{% block content %}

		{% endblock %}
	</body>
</html>
