{% extends "base.html" %}

{% block content %}

	<h1> TV series </h1>
	{% if user.is_staff %}
		<p><a href="{% url 'serie_create' %}">Add a New Serie</a>
	{% endif %}

	{% for serie in object_list %}
		<ul>
			<li><p><a href="{{serie.get_absolute_url}}">{{ serie }}</a></p></li>
		</ul>
	{% empty %}
		<p>Nothing to show.</p>
	{% endfor %}

{% if page_obj.paginator.num_pages > 1 %}
	<br />
	<p>Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}</p>
	{% if page_obj.has_previous %}
		<a href="?page=1"> &laquo; First </a> -
		<a href="?page={{ page_obj.previous_page_number }}"> Previous </a> -
	{% else %}
		<span> &laquo; First - Previous -</span>
	{% endif %}
	{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}"> Next </a> -
		<a href="?page={{ page_obj.paginator.num_pages }}"> Last &raquo;</a>
	{% else %}
		<span> Next - Last &raquo</span>
	{% endif %}
{% endif %}

{% endblock %}
